html {
  font-family: 'Raleway', sans-serif;
}

#logo {
  color: #666666;
  font-size: 25px;
}

#sideNav {
  display: none;
  background-color: white;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid lightgray;
}

#dropdown {
  padding: 0;
  margin: 0;
}

.listitem {
  text-decoration: none;
  list-style: none;
  padding: 5px 5px;
  font-weight: bold;
}

.sideHome,
.sideEveryday,
.sideDress,
.sideJean,
.sideCart {
  background: lightgray;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin: 0;
}

.signIn {
  font-size: .9em;
  font-weight: bold;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.liFluff {
  font-size: .9em;
  border-bottom: 1px solid lightgray;
}
.liIcon {
  margin-top: 13px;
}
.signIn p {
  padding-left: 5px;
}

.collectionDiv {
  position: relative;
  text-align: center;
  color: white;
}

.collectionImage {
  width: 98%;
  height: auto;
  margin-top: 3%;
}

.collectionText {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 5%;
  left: 5%;
  text-shadow: -1px 0 rgba(0,0,0,.5), 0 1px rgba(0,0,0,.5), 1px 0 rgba(0,0,0,.5), 0 -1px rgba(0,0,0,.5);
}
#sideNav {
  display: none;
}

.topnav {
  display: flex;
  justify-content: space-between;
}

.topnav i,
.topnav p {
  display: block;
  padding: 0;
  margin: 0;
}

/* need to un-comment later */
#everyDayShirtsCollectionPage{
  /* display: none; */
}

#dressShirtsCollectionPage{
  /* display: none; */
}

#jeansCollectionPage {
  /* display: none; */
}

#paymentChoice {
  /* display: none; */
}

#cashPay {
  /* display: none; */
}

.productDiv{
  display: inline-block;
  width: 98%;
  height: 150px;
  margin-top: 3%;
  background-color: #D6D5D5;
}

.productText{
  margin-left: 3%;
  height: 100px;
  float: left;
  width: 60%;
}

h2, h3, h4, p{
  margin-top: 3%;
  margin-bottom: 5%;
}

.productImage{
  width: auto;
  height: 130px;
  margin-top: 3%;
  margin-bottom: 3%;
  float: left;
  margin-left: 3%;
}

button{
  width: 45px;
  height: 45px;
  background-color: #666666;
  color: white;
  float: left;
  margin-right: 1%;
}
.productBuyButton {
  float: right;
  margin-top: -7%;
}

#creditCardPay {
  display: none;
}

#receiptPage {
  display: none;
}
