#sidenav{
  margin-bottom: 10%;
}
html{
  font-family: 'Raleway', sans-serif;
}
#logo {
  color: #666666;
  font-size: 25px;
}
#sideNav {
  display: none;
  background-color: lightgrey;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.listitem {
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
  font-weight: bold;
}
.listitem a{
  padding:0;
  margin:0;
  text-decoration: none;
  color: black;
}
.collectionDiv {
    position: relative;
    text-align: center;
    color: white;
}
.collectionImage{
  width: 98%;
  height: auto;
  margin-top: 3%;
}
.collectionText {
  position: absolute;
  top: 8px;
  right: 16px;
  left: 16px;
  text-shadow: -1px 0 rgba(0,0,0,.5), 0 1px rgba(0,0,0,.5), 1px 0 rgba(0,0,0,.5), 0 -1px rgba(0,0,0,.5);
}
.topnav {
  display: flex;
  justify-content: space-between;
}
.topnav i, .topnav p {
    display: block;
    padding: 0;
    margin: 0;
}
#everyDayShirtsCollectionPage{
  display: none;
}
#dressShirtsCollectionPage{
  display: none;
}
#jeansCollectionPage{
  display: none;
}
